 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
 }

 .cuerpo {
     display: grid;
     grid-template-areas: "encabezado  encabezado"
         "seccion    seccion"
         "pie     pie";
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 2fr 1fr;
     grid-row-gap: 5px;
     grid-column-gap: 5px;
 }

 header {
     background-image: linear-gradient(to top, rgb(24, 71, 182), rgb(19, 50, 122));
     grid-area: encabezado;
     
}

 header nav {
     height: 100px

 }

 header nav ul {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     height: 100px;
     flex-wrap: wrap;
     list-style: none;
 }

 nav ul li a {
     background-image: linear-gradient(to right, rgb(236, 236, 245), rgb(198, 198, 214));
     margin: 20px;
     padding: 3px;
     border-radius: 6px;
     padding-top: 3px;
 }

 a {
     text-decoration: none;

}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(193, 231, 245);
    background-image: linear-gradient(to bottom, rgb(33, 77, 181), rgb(30, 75, 180));
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    animation-name: un_efecto;
    animation-iteration-count: 8s;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0s;
}

@keyframes un_efecto{
    0% {
        font-size: 10px;
    }

    25% {
        font-size: 20px;
    }

    50% {
        font-size: 30px;
    }

    75% {
        font-size: 40px;
    }

    100% {
        font-size: 50px;
    }
}

main {
    grid-area: seccion;

}

.cfont {
   color: rgb(193, 231, 245);
   font-weight: bold;
}

body {
    background-image: url(https://services.meteored.com/img/article/cuantos-azules-tiene-el-cielo-289011-2_1280.jpg);
}

#caja {
    background-image: linear-gradient(to bottom, rgb(22, 30, 153), rgb(41, 47, 85));
    width: 1480px;
    height: 220px;
    margin-left: 5px;
    margin: 220 px;
    padding: 3px;
}

.viñeta {
    list-style-type: none;
}

table {
    font-size: 18px;
}

#caja2 {
    background-image: linear-gradient(to bottom, rgb(22, 30, 153), rgb(41, 47, 85));
    width: 1480px;
    height: 350px;
    margin: 5px;
    padding: 1px;
}

.fondo {
    background-color: rgb(30, 36, 88);
    color: rgb(193, 231, 245);
    font-weight: bold;
}

.fondoborder {
    background-color: rgb(69, 121, 243);
}

.ticketsale {
    background-image: linear-gradient(to bottom, rgb(34, 35, 127), rgb(37, 35, 151));
    width: 1480px;
    height: 210px;
    margin: 5px;
    padding: 1px;
}

.pay {
    background-image: linear-gradient(to bottom, rgb(22, 30, 153), rgb(22, 34, 109));
    width: 1480px;
    height: 330px;
    margin: 5px;
    padding: 1px;
}

.about_us {
    background-color: rgb(22, 30, 153);
    margin: 6px;
    padding: 12px;
}

.loren {
    color: rgb(193, 231, 245)
}

#interline {
    text-align: justify;
    line-height: 1.6;
    line
}
.fend {
   
   justify-content:flex-end;
}

footer {
    background-color: rgb(193, 231, 245);
    font-style: italic;
    grid-area: pie;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    
   }

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;

}

.twitterlogo {
    width: 2;
}

.facebooklogo {
    width: 2;
}

.youtubelogo {
    width: 2;
}

.linkedinlogo {
    width: 2;
}

.instagramlogo {
    width: 2;
}

.ico {
    width: 2;
}

@media screen and (max-width: 720px) {

    .cuerpo {
        grid-template-areas: "encabezado  encabezado"
            "seccion  seccion"
            "pie  pie";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    
    .galeria img{
        width: 46%;
        margin: 1%;
    }

    h1 {
        font-size: 30px;
    }
 
    #caja {
       width:100%

   }

    #caja2 {
       width: 100%;
       
   }

    .ticketsale {
        width: 100%
    }
    
    .pay{
       width:100%
    }


    nav ul li a {
        padding: 1px;
        padding-top: 1px;
    }

}

@media screen and (max-width: 360px) {
    .cuerpo {
        grid-template-areas: "encabezado"
                             "seccion "
                            "pie";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    .galeria img {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    header nav {
        height: 100px;
    }

    header nav ul {
        flex-direction: column;
        
    }

    nav ul li a {
       flex-direction: column;
        padding: 1px;
        padding-top: 1px;
    }

    footer {
        height: 75px;
    }

}

@keyframes un_efecto{

    0% {
        font-size: 10px;
    }

    25% {
        font-size: 20px;
    }

    50% {
        font-size: 25px;
    } 

    













 


      

    

     

    