@import "reset/reset";
@import "layout/cuerpo";
@import "components/navbar";
@import"components/h1";
@import"components/body";
@import"components/list";
@import"components/ticketsale";
@import"components/about_us";
@import"components/futing";
@import"components/images";
@import"components/logos";
@import"components/queries";