.about_us {

    background-color: rgb(17, 50, 103);
    margin: 50px;
    padding: 20px;
    margin-top: 10px;
}

.loren {

    color:rgb(193, 231, 245)
}


.interline {
    text-align: justify;
    line-height: 1.6;

}



