footer {
    grid-area: pie;
    background-color: rgb(193, 231, 245);
    border-radius: 1vw;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    margin-top: 0;
    margin-left: 2vw;
    margin-right: 2vw;

}

.grupopie {
    margin: auto;
    display: flex;

}

.fend {

    justify-content: flex-end;
}